@media(min-width:300px){
.modal{
  position: relative;
  left:2%;
  width:96%;
  top:6%;
  overflow-y: scroll;
  max-height:550px;
}
}

@media(max-height:480px){
  .modal{
    position: relative;
    left:2%;
    width:96%;
    top:6%;
    overflow-y: scroll;
    max-height:460px;
  }
}

@media(min-width:601px){
.marg{
  margin-left:27%;
}
.modal{
  position: relative;
  left:2%;
  width:70%;
  height: auto;
  overflow: hidden;
  top:10%;

}


}
@media(min-width:765px){
  .modal{
    position: relative;
    left:2%;
    width:70%;
    /*height:70%;*/
    top:10%;
  }

.marg{
  margin-left:27%;
}
.fnt{ font-size: 64px;}
}

@media(min-width:1000px){
.marg{
  margin-left:27%;
}
.modal{
  position: relative;
  left:2%;
  width:70%;
  /*height:70%;*/
  top:10%;
}

}



.wdt{
  width:100%;
}
